.formulario{
    background: red;
    /*ajustar padding segun las agujas del reloj
    padding:10px 0 40px 20px;*/
    padding:30px
}
.formulario_input{
    padding:0 10px; 
    width:90%;
    background: black;
    color:red;
    margin:10px
}
.formulario_submit{
    letter-spacing: 2px;
    text-transform: uppercase;
    background:red;
    color:white;
    width:50%;
}